---
import Default from "../../layouts/Default.astro";
import GranBoton from "../../components/GranBoton.astro";
---

<Default title="Consejo Escolar: Asignaturas">
    <p>
        Desde el consejo escolar, nos gustaría saber qué opinas de las
        asignaturas que has cursado este año y sobretodo, nos gustaría saber
        como se pueden mejorar.
    </p>
    <p>
        También, queremos que nos indiques si crees que alguna asignatura
        debería de ser añadida al plan de estudios.
    </p>
    <GranBoton
        texto="Encuesta Asignaturas"
        url="https://verificaso.aedm.org.es/claim/b75a89f6-9862-42d5-af42-588fb6426a44"
    />
    <GranBoton texto="Sugerir Asignaturas" url="https://ideaso.aedm.org.es" />
    <b>Estos formularios cierran el 30 de junio a las 11:59 AM.</b>
</Default>
