---
import Default from "../layouts/Default.astro";
import Boton from "../components/Boton.astro";
---

<Default title="Error 404">
    <p>Lo sentimos, la página que buscas no se ha encontrado.</p>
    <Boton texto="Ir a la página de inicio" url="/" />
</Default>
