---
import Default from "../layouts/Default.astro";
import Boton from "../components/Boton.astro";
import "../styles/main.css";
---

<Default title="404" header={false}>
    <h1>404</h1>
    <p>Lo sentimos, la página que buscas no se ha encontrado.</p>
    <Boton texto="Ir a la página de inicio" url="/" />
</Default>
