---
import Default from "../layouts/Default.astro";
---

<Default title="ASO.app">
    <p>La ASO.app está siendo redesarrollada en una beta privada.</p>
    <h2>Política de Privacidad de la ASO.app</h2>
    <p>
        La ASO.app, a fecha de 26 de enero de 2026, no recoge ni almacena datos
        personales de sus usuarios.
    </p>
</Default>
