---
import GranBoton from "../components/GranBoton.astro";
import Default from "../layouts/Default.astro";
---

<Default title="Café y Cultura">
    <img src="/img/esdPatio.jpg" alt="Café y Cultura" />
    <h2>
        Desde la ASO (<i style="color: var(--verde);"
            >con la inestimable ayuda de Marta Ruiz de León</i
        >), estamos preparando una <span style="color: var(--azul);"
            >solución</span
        >
        para que <i>la comunidad de diseñadoras y diseñadores de Madrid</i>
        tenga un lugar de reunión, cooperación y creación cultural.
    </h2>
    <h2>
        ¿Qué mejor manera de hacer ciudad que en un tercer espacio tan
        emblemático como una <u>cafetería</u>?
    </h2>
    <h2>
        Por desgracia, <span style="color: var(--rojo);"
            >una cafetería no puede moverse,</span
        >
        <span style="color: var(--verde);">un foodtruck, sí.</span>
    </h2>
    <GranBoton
        texto="Ver más"
        url="https://decide.madrid.es/presupuestos/presupuestos-participativos-2026/proyecto/25061#social-share"
    />
</Default>
