---
import Boton from "../components/Boton.astro";
import Blog from "../components/Blog.astro";
import Default from "../layouts/Default.astro";
---

<Default
    title="Portada de la (aso)ciación de estudiantes de diseño de madrid"
    header={false}
>
    <img src="/src/images/Banner.png" />
    <h1 style="text-align: left ;">¡Hola!</h1>
    <p>
        Somos la (aso)ciación de estudiantes de la <a
            href="https://esdmadrid.es/"
            target="_blank">Escuela Superior de Diseño de Madrid</a
        > (ESD).
    </p>
    <p>Abajo tienes el enlace para ser soci@.</p>
    <Boton
        texto="Instagram"
        url="https://www.instagram.com/aso.esd/"
        tipo="outline"
    />
    <Boton
        texto="WhatsApp"
        url="https://www.whatsapp.com/channel/0029VayuAlmISTkHVLfCc021"
        tipo="outline"
    />
    <Boton texto="ASÓciate" url="/asocia" />
    <Boton
        texto="Donar"
        tipo="negro"
        url="https://pay.sumup.com/b2c/Q2S1VB87"
    />

    <h2>Novedades</h2>
    <Blog />

    <Boton texto="Ver más posts" url="https://asoesdm.substack.com/" />
</Default>
