---
import GranBoton from "../components/GranBoton.astro";
import Default from "../layouts/Default.astro";
---

<Default title="Matrícula 2026/27">
    <p>
        Ya han salido los horarios, fechas de matrícula, y asignaturas para el
        curso 2026/27. Puedes encontrar toda la informaón aquí abajo.
    </p>
    <h3>Información</h3>
    <b
        >Lea detenidamente toda la página hasta el final antes de tomar
        cualquier decisión relacionada con la matrícula.</b
    >
    <p>
        Esta información es de referencia, No es la oficial. Dirígete al correo
        que se te ha enviado a tu cuenta <i>@educa.madrid.org</i> para ver la información
        completa.
    </p>
    <p>
        La aso no sabe las respuestas sobre las dudas que puedas tener en el
        proceso de matrícula. Si tienes alguna, contacta a <a
            href="mailto:adminstracion@esdmadrid.es">Administración</a
        > o llama al <a href="+34 91 439 00 00">91 439 00 00</a>.
    </p>
    <p>
        La matrícula se realizará de forma escalonada según el curso y la
        inicial del primer apellido del estudiante del 7 al 10 de julio de 2026.
        Para haber superado el curso se debe tener aprobados del curso anterior
        mínimo 30 créditos ECTS.
    </p>
    <p>
        Un curso son 60 créditos ECTS, un semestre 30. Trata de no excederte en
        créditos y de no solapar horarios ya que no se garantiza que más
        adelante se pueda subsanar la matrícula.
    </p>
    <GranBoton
        texto="Documentación General"
        url="https://esdmadrid.es/matricula"
    />
    <p>
        La documentación general indica que debes de entregar y como para
        completar la matrícula.
    </p>
    <GranBoton
        texto="Formulario de Matrícula"
        url="https://es.educa.madrid.org/"
    />
    <b
        >Recomendamos encarecidamente entrar en el formulario desde el correo
        electrónico.</b
    >
    <h3>Horarios</h3>
    <p>
        <b>NOVEDAD:</b> Este año, la aso ha habilitado una plataforma experimental
        que permite construir tu horario personalizado para evitar solapamientos de
        asignaturas. Puedes acceder a ella desde la sección de <a
            href="#einteres">Enlaces de Interés</a
        >.
    </p>
    <p>Los horarios de matrícula para el curso 2026/27 son los siguientes:</p>
    <GranBoton
        texto="Horarios 1º Semestre"
        url="https://horarios1s.esdmadrid.es"
    />
    <GranBoton
        texto="Horarios 2º Semestre"
        url="https://horarios2s.esdmadrid.es"
    />
    <h3>Fechas de Matrícula</h3>
    <p>
        Las fechas oficiales de matrículación para el curso 2026/27 son las
        siguientes:
    </p>
    <details>
        <summary><b>7 de julio de 2026 – Matrícula de 2.º curso</b></summary>
        <p>
            <b>10:00 a 11:59:</b> apellidos cuya inicial esté comprendida entre <u
                >A y E</u
            > y entre <u>X y Z</u>.
        </p>
        <p>
            <b>12:00 a 13:59:</b> apellidos cuya inicial esté comprendida entre <u
                >F y K</u
            >.
        </p>
        <p>
            <b>14:00 a 15:59:</b> apellidos cuya inicial esté comprendida entre <u
                >L y M</u
            >.
        </p>
        <p>
            <b>16:00 a 17:59:</b> apellidos cuya inicial esté comprendida entre <u
                >N y W</u
            >.
        </p>
    </details>

    <details>
        <summary><b>8 de julio de 2026 – Matrícula de 3.º curso</b></summary>
        <p>
            <b>10:00 a 11:59:</b> apellidos cuya inicial esté comprendida entre <u
                >A y C</u
            > y entre <u>X y Z</u>.
        </p>
        <p>
            <b>12:00 a 13:59:</b> apellidos cuya inicial esté comprendida entre <u
                >D y K</u
            >.
        </p>
        <p>
            <b>14:00 a 15:59:</b> apellidos cuya inicial esté comprendida entre <u
                >L y P</u
            >.
        </p>
        <p>
            <b>16:00 a 17:59:</b> apellidos cuya inicial esté comprendida entre <u
                >Q y W</u
            >.
        </p>
    </details>

    <details>
        <summary><b>9 de julio de 2026 – Matrícula de 4.º curso</b></summary>
        <p>
            <b>10:00 a 11:59:</b> apellidos cuya inicial esté comprendida entre <u
                >A y C</u
            > y entre <u>X y Z</u>.
        </p>
        <p>
            <b>12:00 a 13:59:</b> apellidos cuya inicial esté comprendida entre <u
                >D y H</u
            >.
        </p>
        <p>
            <b>14:00 a 15:59:</b> apellidos cuya inicial esté comprendida entre <u
                >I y O</u
            >.
        </p>
        <p>
            <b>16:00 a 17:59:</b> apellidos cuya inicial esté comprendida entre <u
                >P y W</u
            >.
        </p>
    </details>

    <details>
        <summary><b>10 de julio de 2026 – Jornada extraordinaria</b></summary>
        <p>
            <i
                >Esta jornada estará destinada al alumnado que no haya podido
                formalizar su matrícula en el turno que le correspondía o que
                necesite realizar alguna modificación o subsanar incidencias en
                la matrícula ya efectuada.</i
            >
        </p>
        <p>
            <b>10:00 a 11:59:</b> apellidos cuya inicial esté comprendida entre <u
                >A y C</u
            > y entre <u>X y Z</u>.
        </p>
        <p>
            <b>12:00 a 13:59:</b> apellidos cuya inicial esté comprendida entre <u
                >D y K</u
            >.
        </p>
        <p>
            <b>14:00 a 15:59:</b> apellidos cuya inicial esté comprendida entre <u
                >I y P</u
            >.
        </p>
        <p>
            <b>16:00 a 17:59:</b> apellidos cuya inicial esté comprendida entre <u
                >Q y W</u
            >.
        </p>
    </details>
    <h3>Asignaturas</h3>
    <p>Las asignaturas y optativas están disponibles en las guías docentes.</p>
    <GranBoton texto="Abrir Guías" url="https://guias.esdmadrid.es/" />
    <h3 id="einteres">Enlaces de Interés</h3>
    <GranBoton
        texto="Editor de Horarios (ALPHA)"
        url="https://app.edhorario.aedm.org.es/"
    />
    <p>
        <b>ATENCIÓN: </b>El "Editor de Horarios" es una iniciativa de la
        asociación de estudiantes y está en versión ALPHA. Comprueba siempre que
        la información coincida con los horarios oficiales.
    </p>
    <GranBoton
        texto="Mapa de Optativas (2025-26)"
        url="https://admin-dev.esdmadrid.es/wp-content/uploads/2025/07/Mapa-OPTATIVAS-2526_20250701-1.pdf"
    />
    <p>
        <b>ATENCIÓN: </b>El enlace puede no estar actualizado. Este fue el
        último mapa de optativas que se ha publicado para el curso 2025-26.
    </p>
</Default>
