---
import Default from "../layouts/Default.astro";
---

<Default title="Make Food Truck">
    <p>De momento no hay nada aquí.</p>
    <img src="/img/asoxesd.png" alt="asoxesd" width="200px" />
</Default>
