---
import Default from "../layouts/Default.astro";
import GranBoton from "../components/GranBoton.astro";
---

<meta name="robots" content="noindex" />
<Default title="Make Food Truck">
    <meta name="robots" content="noindex" />
    <iframe
        src="https://www.tldraw.com/p/4mK9Ky_8VDp49XZwEjEMe?d=v-2324.-1192.5924.3918.page"
        width="100%"
        height="600px"
        frameborder="0"
        allowfullscreen></iframe>
    <GranBoton
        texto="Editar Pizarra"
        url="https://verificaso.aedm.org.es/claim/83da81b1-d13d-4288-a81a-8ce46e723305"
    />

    <GranBoton texto="Tablero de Pinterest" url="https://pin.it/ErwXVE8uM" />

    <h3>Datos útiles</h3>
    <p>
        <b>Nombre legal de la asociación:</b> Asociación de Alumnos de Diseño de Madrid.
    </p>
    <p><b>Nombre futuro:</b> Asociación de Estudiantes de Diseño de Madrid.</p>
    <h3>Directivas</h3>
    <ul>
        <li>Usa el magenta.</li>
        <li>Se un poco punk.</li>
        <li>Intenta que el público interactúe con el medio.</li>
        <li>Sigue las referencias.</li>
    </ul>
    <h3>Contacto</h3>
    <ul>
        <li>
            <b>WhatsApp: </b>
            <a
                style="color: var(--negro);"
                href="https://wa.me/644004234"
                target="_blank">+34 644 00 42 34</a
            >
        </li>
        <li>
            <b>Instagram: </b>
            <a
                style="color: var(--negro);"
                href="https://www.instagram.com/aso.esd/"
                target="_blank">@aso.esd</a
            >
        </li>
        <li>
            <b>Mail: </b>
            <a
                style="color: var(--negro);"
                href="mailto:aadm@esdmadrid.es"
                target="_blank">aadm@esdmadrid.es</a
            >
        </li>
    </ul>
    <br />
    <i
        >Esta información es confidencial, por favor no la compartas. Para
        editar la pizarra, necesitas una cuenta de VerificASO.</i
    >
    <hr />
    <img src="/img/asoxesd.png" alt="asoxesd" width="200px" />
</Default>
