---
import Default from "../layouts/Default.astro";
---

<Default title="MuseASO" header={false}>
    <img src="/img/museasoport.jpg" />
    <h3>Una carta sobre el futuro del MuseASO</h3>

    <p>
        Hace aproximadamente un mes lanzamos la iniciativa del MuseASO, una
        plataforma para que los alumnos de la escuela puedan mostrar y exponer
        su trabajo al resto.
    </p>
    <p>
        La idea era crear una exposición temporal semi concurso que se
        materializara en un catálogo virtual para que los alumnos ganadores
        tuviesen trabajos publicados.
    </p><p>Esta era nuestra idea, sin embargo, no ha podido despegar.</p>
    <p>
        Hemos observado que el MuseASO tiene muy baja participación. Nos quedan
        unos pocos trabajos por exponer que no se han expuesto porque estábamos
        en duda con el futuro del MuseASO.
    </p><p>
        Vamos a exponer esos últimos trabajos la semana que viene y después, lo
        que quede de mes, expondremos los que quede del mes todo el conjunto de
        trabajos presentados en el MuseASO.
    </p><p>
        Al final, esta decisión nos parece dura de tomar, pero preferimos
        centrarnos en otros proyectos que puedan beneficiar al conjunto de los
        estudiantes.
    </p><p>
        Antes de semana santa, anunciamos una serie de actividades. Hemos
        recibido buen feedback sobre ellas, por lo que realizamos sondeos para
        ver quien realmente quiere participar y en base a esto, las
        ejecutaremos.
    </p><p>
        Nuestra misión es hacer de la ESD un lugar acogedor para todos las/los
        estudiantes y trabajador@s. Hay gente que literalmente pasa 12 horas
        seguidas en el centro y se merecen más que estar alienados con su
        portátil entre huecos libres, tenemos que crear comunidad y
        participación en nuestra escuela y a pesar de ser estudiantes sin apenas
        recursos, creemos que el asociacionismo puede lograrlo.
    </p><p>
        Esto no es un adiós total al MuseASO, es un replanteamiento total del
        formato. Es posible que no lo veamos en un tiempo, o a lo mejor nunca,
        pero se queda en nuestro tintero para ver si en un futuro, puede
        florecer de otra forma.
    </p><p>
        Muchas gracias a los/las participantes, sin vosotr@s el MuseASO no
        hubiera no durado una semana. Un saludo,
    </p>

    <i
        >-- La comisión de de Torneos y Actividades de la Asociación de
        Estudiantes de Diseño de Madrid.
    </i>
</Default>
