---
import "../styles/main.css";
import NavBar from "../components/NavBar.astro";

interface Props {
    title: string;
    header?: boolean;
}

const { title, header = true } = Astro.props;

const documentTitle = title ? title + " | aedm" : "aedm";
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
        />
        <title>{documentTitle}</title>
    </head>
    <body>
        <NavBar />
        <main>
            {header && <h1>{title}</h1>}
            <slot />
        </main>
    </body>
</html>
